.page {
    display: flex;
    flex-direction: column;
}
.header {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.ide-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.hide {
  display: none;
}

