<div class="left-menu col-sm-1" ng-controller="MenuCtrl">
	<i ng-click="folder()">&#xf07c;</i>
</div>
<div class="file-navigator" ng-controller="FileSystemCtrl" ng-class="{'col-sm-3' : foldersVisible, 'hide': !foldersVisible}" >
	<input type="file" id="openFile" ng-model="path" ng-change="openFile()" nwdirectory />
	<input type="file" id="saveFile" class="hide" ng-model="savePath" nwsaveas ng-change="fileSaveAs()"/>
	<abn-tree tree-data="explorer" on-select="treeSelected(branch)"></abn-tree>
</div>
<div ng-controller="OpenFilesCtrl" class='openFiles col-sm-8 on-focus'>	
	<ul ui-sortable="sortableOptions" ng-model="files" class="nav nav-tabs" >
			<li ng-repeat="file in files" ng-controller="EditorCtrl" ng-model="file" ng-click="setActive(file)"ng-class={'active':file.active}>
				<a class="tab-default"  data-toggle="tab" >{{file.name || 'untitled'}} <span ng-click="close(file)">x</span></a>
			</li>
	<li style="float: left;" class="disabled" ng-click="newFile()">+</li>
	</ul>

	<div ng-repeat="file in files"  ng-controller="EditorCtrl" ui-ace="aceOption" ng-model="file.content" class="editor_ctrl" ng-class={'active':file.active}></div>
		</div>
	</div>
</div>
