<div class="left-menu" ng-controller="MenuCtrl">
	<i ng-click="folder()">&#xf07c;</i>
</div>
<div class="file-navigator" ng-controller="FileSystemCtrl" ng-class="{'active' : foldersVisible}" >
	<input type="file" id="openFile" ng-model="path" ng-change="openFile()" nwdirectory />
	<abn-tree tree-data="explorer" on-select="treeSelected(branch)"></abn-tree>
</div>
<div ng-controller="OpenFilesCtrl">
	<div ng-controller="EditorCtrl" class="editor_ctrl">
		<div ui-ace="aceOption" ng-model="fileContent"></div>
	</div>
</div>